button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.grid {
	position: relative;
	margin: 0 auto;
    float: left;
    margin-left: 50px;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: transparent url(../../img/basic/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 220px;
	padding: 10px;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #1f1d1d;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
    padding: 0;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description--grid {
	display: none;
}

.description--preview {
	font-size: 1.2em;
	position: absolute;
    color: #fff;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
    overflow-x:hidden;
    overflow-y:auto;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.wrapper {
    width: 100%;
    padding: 0 1.5em;
    position: inherit;
}

.set_zero_to_top {
    top: 0;
}
/* Close button */
.preview--close {
	position: fixed;
    font-size: 1.5em;
    font-family: 'Courgette';
	margin: 0;
	vertical-align: top;
	color: red;
	z-index: 150;
	top: 0;
	right: 0.5em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--close:hover,
.preview--close:focus {
    
}

.preview--image-loaded .preview--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
    display: block;
    overflow: hidden;
    top: 0.5em;
    right: 0.5em;
    font-weight: bold;
}

@media screen and (max-width: 40em) {
	.description--preview {
		font-size: 0.5em;
	}
    .description--preview table, {
		display: none;
	}
}

.delete-btn {
    border: none;
    width: 45px;
    height: 45px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.delete-btn:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
}

.comment>table {
    width: 100%;
    font-size: 0.8em;
}