<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Global Terrorism Database</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/component.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/toastr.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/adminlte.min.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
		<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
		<style>
			.card-tools > button:hover {
				background-color: white;
			}
			#my-anim {
				height: 5px;
				z-index: 1000;
			}

			#my-anim::before {
				height:5px;
				background: red;
			}

			.toast-body {
				min-width: 200px;
			}
		</style>
	</head>
	<body>
	<div class="la-anim-13" id="my-anim"></div>
	<div style="display:flex; align-items: center; justify-content: center; margin-top: 4em;">
		<section class="content" style="width:90%;">
			<div class="container-fluid">
				<input type="hidden" id="mca_result_fname" value="{{ data.mca_result_fname }}">
				<form action="/clustering/kmeans/result" id="kform" method="POST" enctype="multipart/form-data">
					<input type="hidden" id="csvname" name="csvname" value="{{ data.csvname }}">
					<input type="hidden" name="before_img_names" value="">
					<input type="hidden" name="after_img_names" value="">
					<input type="hidden" name="clustering_result_csvnames" value="">
					<input type="hidden" name="checked_list" value="{{ data.checked_list }} ">
					<input type="hidden" name="features_list" value="{{ data.features_list|join('-') }} ">
				</form>
				{% for fname in data.mca_img_fname %}
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">
										Group {{loop.index}}: {{ data.features_list[loop.index-1] }}</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
											<i class="fas fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="card-body" style="display: flex; justify-content: space-around; padding-left: 40px;">
									<div style="display:inline;">
										<img src="{{ url_for('static', filename='data/images/' + fname) }}" width="500" height="500">
									</div>
									<div style="display:inline;">
										<img src="{{ url_for('static', filename='data/images/' + data.elbow_img_fname[loop.index-1]) }}" width="500" height="500">
									</div>
								</div>
								<div class="card-footer" style="display: flex; justify-content: flex-end;">
									<input name="group{{loop.index}}_k" class="form-control" type="number" min="2" max="20" placeholder="k" style="width:80px;">
									<button type="button" id="group{{loop.index}}_btn" 
									class="btn btn-block btn-info toastsDefaultInfo silhouette"
									style="width: 120px; margin-left: 1em;">Silhouette</button>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<div class="row" style="display: flex; justify-content: flex-end;">
					<div id="la-buttons">
						<button type="button" class="btn btn-block btn-danger btn-lg"
						data-anim="la-anim-13" style="width:120px; font-size:1em; margin-right:0.5em; margin-bottom:2em;">Apply</button>
					</div>
				</div>
	      	</div>
	    </section>
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script>
		Array.prototype.slice.call( document.querySelectorAll('.silhouette')).forEach( function( el, i ) {
			el.addEventListener( 'click', function() {

				input_el = el.previousElementSibling;
				k = input_el.value;
				group = input_el.name.split('_')[0];
				mca_csvname = $("#mca_result_fname")[0].value.split(',')[input_el.name[5] * 1 - 1];

				if (k.length == 0) {
					window.alert("Please select the k, (the number of cluster).");
					return false;
				}

				var form_data = new FormData();
				form_data.append('k', k);
				form_data.append('csvname', mca_csvname);
				$.ajax({
		            type: 'POST',
		            url: '/analysis/silhouette',
		            data: form_data,
		            contentType: false,
		            cache: false,
		            processData: false,
		            beforeSend: function() {
						$(document).Toasts('create', {
				    		class: 'bg-info',
				    		title: input_el.name.split('_')[0],
				    		subtitle: 'k = ' + k,
				    		body: 'Please wait.\t\t\t'
				    	});

				    	var $div = $('<div class="overlay d-flex justify-content-center align-items-center" style="position: absolute;z-index: 1000;background-color: rgba(0,0,0,0.5);top: 0;left: 0;right: 0;bottom: 0;"><i class="fas fa-2x fa-sync fa-spin"></i></div>');
				    	$('#toastsContainerTopRight')[0].firstElementChild.prepend($div[0]);
		            },
		            success: function(data) {
		            	console.log(data);
						if (data['imgpath'] == -1) {
							window.alert("Server Error");
						} else {
							var toast_el = $('#toastsContainerTopRight')[0].firstElementChild;
							toast_el.removeChild(toast_el.firstElementChild);
							var $img = $("<div style='width:400px;height:300px;overflow:hidden'><img src='" + data['imgpath'] + "' style='width:80%;height:100%;'></div>");
							toast_el.lastElementChild.innerText = '';
							toast_el.lastElementChild.prepend($img[0]);
						}
		            },
		            error: function() {
		            	var toast_el = $('#toastsContainerTopRight')[0].firstElementChild;
						toast_el.removeChild(toast_el.firstElementChild);
		            	toast_el.lastElementChild.innerText = 'Server Error';
		            }
		        });
	        });
		});

		var inProgress = false;

		Array.prototype.slice.call( document.querySelectorAll( '#la-buttons > button' ) ).forEach( function( el, i ) {
			var anim = el.getAttribute( 'data-anim' ),
				animEl = document.querySelector( '.' + anim );

			el.addEventListener( 'click', function() {
				if( inProgress ) return false;
				var input_list = $('.row input');
				k_list = Array();
				for (var i = 0; i < input_list.length; i++) {
					if (input_list[i].value == "") {
						window.alert("Please select the number of cluster in each group.");
						return false;
					}
					k_list[i] = input_list[i].value;
				}

				// var form_data = new FormData($("#kform")[0]);
				var form_data = new FormData();
				form_data.append('csvname', $("#csvname")[0].value)
				form_data.append('mca_result_fname', $("#mca_result_fname")[0].value)
				form_data.append('features_list', $("#kform > input[name='features_list']")[0].value)
				form_data.append('k_list', k_list.join(','))
		        $.ajax({
		            type: 'POST',
		            url: '/clustering/kmeans',
		            data: form_data,
		            contentType: false,
		            cache: false,
		            processData: false,
		            beforeSend: function() {
						inProgress = true;
						classie.add( animEl, 'la-animate' );
		            },
		            success: function(data) {
		            	inProgress = false;
						console.log(data);
						$("#csvname")[0].value = data['csvname'];
						$("#kform > input[name='before_img_names']")[0].value = data['before_img_names'];
						$("#kform > input[name='after_img_names']")[0].value = data['after_img_names'];
						$("#kform > input[name='clustering_result_csvnames']")[0].value = data['clustering_result_csvnames'];
						$("#kform")[0].submit();
		            },
		            error: function() {
		            	classie.remove( animEl, 'la-animate' );
		            	inProgress = false;
		            	window.alert('Server Error');
		            }
		        });
			} );
		} );
	</script>
	<div id="toastsContainerTopRight" class="toasts-top-right fixed"></div>
	</body>
</html>